@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
* {
  font-family: 'Noto Sans JP', sans-serif;
}


main {
  display: flex;
  font-size: 24px;
}

nav {
  min-width: 160px;
  width: max-content;
  max-width: 240px;
  min-height: 100vh;
  border-right: 1px solid #0070F333;
  overflow: hidden;
}

.view {
  flex: 1;
}

.wrapper {
  max-width: 768px;
  width: fit-content;
  margin: 20px auto;
  padding: 20px;
}

nav {
  padding-top: 20px;
}

.nav-item {
  width: 100%;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-right: 2em;
  padding-left: 1em;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
}
.nav-item-logo {
  height: 1.5em;
  vertical-align: middle;
}
.nav-item a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}
.nav-item a:after {
  content: '';
  display: block;
  position: absolute;
  top: -200%;
  left: -25%;
  width: 100%;
  height: 500%;
  background: #00000033;
  border-radius: 100%;
  opacity: 0;
}
@keyframes navhover {
  0% {
    transform: scale(0);
    opacity: 0.4;
  }
  50% {
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 0.1;
  }
}
.nav-item a:hover:after {
  animation: navhover 1s ease-out;
}

.nav-item.category {
  font-weight: bold;
}
.nav-item.task {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 2em;
}

.form-item {
  margin-bottom: 1em;
}

input {
  font-size: inherit; 
}
input[type=text],input[type=password] {
  text-align: center;
  border: 2px solid #bfbfbf;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  vertical-align: middle;
}
input:focus,input:active {
  outline: none;
  border-color: #3f62d3;
  box-shadow: 0 0 8px #73a6eb33;
}

/* https://getcssscan.com/css-buttons-examples */
/* CSS */
button {
  vertical-align: middle;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  background-color: #3f62d3;
  color: #ffffff;
  border: 2px solid #3f62d3;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.75em;
  overflow: hidden;
  position: relative;
}

button:after {
  content: '';
  display: block;
  position: absolute;
  top: -200%;
  left: 0;
  width: 100%;
  height: 500%;
  background: #00000033;
  border-radius: 100%;
  opacity: 0;
  transform: scale(0);
}

button:active {
  outline: 0;
}
button:active:after {
  opacity: 0.7;
  transform: scale(1);
  transition: transform 0.2s ease-out;
}

button:focus {
  outline: 0;
  box-shadow: 0 0 4px #3f62d3;
}

button:hover {
  box-shadow: 0 0 4px #8b8b8b, 0 4px 8px #8b8b8ba6;
}

.submitForm {
  width: 100%;
  display: flex;
}

label {
  display: block;
  font-size: 75%;
  font-weight: bold;
}

.ranking {
  width: 24em;
  margin: 0 auto;
  border-collapse: separate; 
  border-spacing: 0;
}

.rank {
  text-align: center;
}

.sec {
  text-align: right;
}

.login_player {
  background-color: #bfbfbf33;
}

td:first-child {
  padding-left: 1em;
}
td:last-child {
  padding-right: 1em;
}

.admin-flex {
  display:  flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap
}

.admin {
  padding: 1em;
  text-decoration: none;
  color: inherit;
  display: block;
}

.admin-description {
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.admin-icon {
  width: 10rem;
  border-radius: 50%;
}
